@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

 *{
    margin: 0;
    padding: 0;
}  

body {
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
}

/* nav bar menu */
.logo img{
    width: 200px;
}

.logo{
    height: 70px;
    text-align: center;
    margin-top:15px;
}

    /* conjunt de links*/
.nav-bar{
    width: 85%;
    margin: 0 auto;
    height: 40px;
}

    /* cada un dels links*/
.nav-bar-ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.5em; 
    font-weight: bold;
}

.nav-bar-ul a {
    text-decoration: none;
    color: black;
}

/* home - background picture */
.presentation{
    background: url(/img/smoothies_category.jpg);
    background-position:0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    position: relative;
}

.presentation h1 {
    font-size: 4em;
    color:black;
    position: absolute;
    left: 50%;
    top:32%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1em;
}

.presentation h2{
    font-size: 2em;
    color: black;
    position: absolute;
    left: 50%;
    top:55%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    width: 50%;
    text-align: center;
}

 /* home - input form section */

 .search-form-section div{
    width: 100%;
    height: 185px;
    margin: 20px auto 20px auto;
 }

 .search-form-section h2 {
    font-size: 2em;
    text-align: center;
    width: 60%;
    justify-content: center;
    margin:0 auto;
    padding:20px;
    font-weight: bold;
 }

 .search-form{
     display:flex;
     width: 50%;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
 }

 .search-form ::placeholder {
     font-size: 0.8em;
     text-align: center;
 }

 .search-form > button {
    margin: 15px 50px;
    font-size: 1.3em;
    font-family: montserrat;
    font-weight: bold;
    letter-spacing:0.3px;
    background-color: black;
    color: white;
    padding:7px 20px 7px 20px;   
 }

  /* home- recipes cagetories section */

.recipe-category div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 12px;
}

h3{
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color:black; 
}

.recipe-category p{
    font-size: 1.5em;
    margin: 0px 30px;
}

.recipe-category-btn{
    width: 65%;
    margin: 15px auto;
    font-size: 1.3em;
    font-family: montserrat;
    font-weight: bold;
    letter-spacing:0.3px;
    background-color: black;
    color: white;
    padding:10px 10px 10px 10px;
}

.recipe-category img{
    width: 100%;
    margin-top:10px;
}

  /* recipes page */
.recipes-container {
        display:flex;
        justify-content:center;
        flex-direction:row;
        flex-wrap:wrap;  
        margin-bottom:30px;
}

.recipe-general-info {
    text-align:center;
    background-color: rgb(241, 241, 241);    
    box-sizing:border-box;
    margin: 5px;
    padding:12px;
    width:43%;
  }

.recipe-general-info-list img{
    width: 100%;
    margin-bottom: 10px;
}

.recipe-general-info button{
    font-size: 1.1em;
    font-family: montserrat;
    font-weight: bold;
    background-color: rgb(241, 241, 241);
    color: black;
    padding:3px 7px;
    margin: 7px;
    border: solid 1px black;
}

h4{
    font-size: 1.5em;
    margin-bottom: 5px;
}

hr{
    width: 20%;
    color: rgb(190, 188, 188);
    margin: 0 auto 20px auto;
}

  /* recipe-product page */

.recipe-extended-info-background{
    background: url(/img/smoothies_category.jpg);
    background-position:0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
    position: relative;
}
.instruction-icons{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
    margin: 20px auto;
}

.icon-format img{
    width: 30px;
}

.icon-format p{
    font-size: 0.6em;
}

.icon-format{
  font-size:1.7em;
  text-align:center;
  box-sizing:border-box;
  padding:10px;
  width:25%;
}
.recipe-extended-info > p{
 font-size: 1.5em;
 width: 70%;
 margin:10px auto;
 text-align: justify;
}

/* Sign up page */

.signup-form input{
    margin:10px;
}
.signup-form button{
    display:flex;
    flex-direction: column;
    margin: 10px auto;
    font-size: 1.1em;
    font-family: montserrat;
    font-weight: bold;
    background-color: black;
    color: white;
    padding:10px 20px 10px 20px;
    margin-bottom: 10px;
}

.form-wrapper{
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.signup img {
    width: 70%;
    display: flex;
    margin-top:30px;
}

.signup h2{
    text-align: center;
    font-size: 2em;
    margin-top: 25px;
}

.signup h3 {
    font-size: 1.7em;
    text-align: right;
    margin:10px;
}

/* Log in page */

.login-form input{
    margin:10px;
}

.login-form button{
    display:flex;
    flex-direction: column;
    margin: 10px auto;
    font-size: 1.1em;
    font-family: montserrat;
    font-weight: bold;
    background-color: black;
    color: white;
    padding:10px 20px 10px 20px;
    margin-bottom: 10px;
}

.login h2{
    text-align: center;
    font-size: 2em;
    margin-top: 25px;
}

.login h3 {
    font-size: 1.7em;
    text-align: right;
    margin:10px;
}

.login img {
    width: 70%;
    display: flex;
    margin-top:30px;
}

/* faq page */

.faq-background{
    background: url(/img/smoothies_category.jpg);
    background-position:0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height:85vh;
    position: relative;
}

.dropdown{
    position: absolute;
    left: 50%;
    top:55%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1em;
}

.dropdown-btn{
    text-decoration: none;
    background-color: white;
    color:black;
    padding:5px 80px;
    margin:10px;
    border:none;
    opacity: 0.7;
}

.dropdown-answer > p{
    font-size: 1.5em;
    margin-bottom: 15px;
}

.faq h2{
    position: absolute;
    left: 50%;
    top:25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
}

/* @media */

@media (max-width: 330px){
    .nav-bar{
        width: auto;
        margin: 0 auto 50px 0;
    }

    .nav-bar-ul{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
}

@media (min-width: 580px){
    .nav-bar{
        width: 55%;
        height: auto;
        }
    
    .logo{
        width: 200px;
        height: auto;
        align-items: center;        
    }

    .menu {
        display:flex;
        flex-direction: row;
        align-items: center;
        height: 70px;        
    }
    
    .presentation h1{
        top:40%;
    }

    .search-form-section div{
        height: 145px;
        margin-top: 25px;
     }

    .search-form input{
        padding: 10px 80px;
    }

    .search-form > button {
       margin: 15px 50px;
       font-size: 1.3em;
       padding:10px 60px;   
    }

    .recipe-category-btn{
        margin: 15px auto 10px auto;
        width: 42%;
    }

}

@media (min-width: 1000px){
    .nav-bar{
        width: 35%;
        height: auto;
        margin-right: 30px;
        }

    .search-form-section div{
        height: 180px;
        margin-top: 50px;
     }

    .search-form input{
        padding: 10px 100px;
    }
}